* {
    font-family: var(--sl-font-sans);
}

body {
    padding: var(--sl-spacing-large);
}

h1 {
    background-color: var(--sl-color-primary-500);
    color: var(--sl-color-white);
    padding: var(--sl-spacing-large);
    border-radius: var(--sl-border-radius-x-large);
}

.thumbnail {
    object-fit: cover;
    object-position: center;
    height: 200px;
    width: 200px;
    margin: var(--sl-spacing-medium);
    box-shadow: var(--sl-shadow-large);
    border-radius: var(--sl-border-radius-x-large);
    border-width: var(--sl-spacing-x-small);
    border-color: white;
}