* {
    font-family: var(--sl-font-sans);
}

body {
    padding: var(--sl-spacing-large);
}

h1 {
    background-color: rgb(var(--sl-color-primary-500));
    color: rgb(var(--sl-color-neutral-0));
    padding: var(--sl-spacing-large);
    border-radius: var(--sl-border-radius-x-large);
}

.thumbnail {
    object-fit: cover;
    object-position: center;
    height: 200px;
    width: 200px;
    margin: var(--sl-spacing-medium);
    box-shadow: var(--sl-shadow-large);
    border-radius: var(--sl-border-radius-x-large);
    border-width: var(--sl-spacing-x-small);
    border-color: white;
}

sl-tab::part(base), sl-breadcrumb-item::part(base) {
    font-size: var(--sl-font-size-x-large);
}

sl-tab-panel {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

sl-card {
    margin: 10px;
    box-shadow: var(--sl-shadow-x-large);
}

sl-details {
    box-shadow: var(--sl-shadow-large);
}

sl-details::part(header) {
    font-weight: var(--sl-font-weight-bold);
}
  
.card-header sl-icon-button {
    font-size: var(--sl-font-size-medium);
}