<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Smart Expenses — New expense report</title>
  <script type="module">
    document.documentElement.classList.remove('no-js');
    document.documentElement.classList.add('js');
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.47/dist/themes/base.css">
  <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.47/dist/shoelace.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<span id="request">
<h1><sl-icon slot="prefix" name="file-earmark-plus-fill"></sl-icon> Report: {{reportId}}</h1>

<sl-form id="formFiles">
<input type="hidden" name="reportId" v-model="reportId">

<div v-if="images">
    <sl-tooltip v-for="img in images" :content="img.title">
        <img :src="img.src" :title="img.title" class="thumbnail"/>
    </sl-tooltip>
</div>
<input id="filesInput" type="file"  @change="onFileChange" multiple style="display: none;">

<br>
<sl-button id="addBtn" size="large" type="primary" pill @click="clickFileChooser">
    <sl-icon slot="prefix" name="file-earmark-plus-fill"></sl-icon>
    Select receipts
</sl-button>

<br>
<br>

<sl-alert type="warning" open>
    <sl-icon slot="icon" name="exclamation-triangle"></sl-icon>
    <strong>Report not submitted</strong><br>
    Your report hasn't been submitted yet. Feel free to add new receipts, and click "Submit report" to submit your report for approval.
</sl-alert>

<br>

<sl-button submit id="submitBtn" size="large" type="success" pill style="margin-right: 20px">
    <sl-icon slot="prefix" name="arrow-right-circle-fill"></sl-icon>
    Submit report
</sl-button>
</span>

</sl-form>

<script type="module" src="/js/common.js"></script>
<script type="module" src="/js/request.js"></script>
</body>
</html>